
<div class="hero-unit">
<h1>Welcome to Korean Golf Club in Davis</h1>
<p>
	
	<%= link_to "Facebook group page","https://www.facebook.com/groups/1422098741338155/"%>
</p>
<p>
	<%= link_to "Sign up Now!","#", class: "btn btn-primary btn-large" %>
</p>
</div>
